<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %} {% if site.env %}
    <!-- capture the CSS content as a Liquid variable -->
    {% set css %}{% include "styles.min.css" %}{% endset %}
    <style>
      {{css | safe}}
    </style>
    {% else %}
    <link rel="stylesheet" href="/static/styles.min.css" />
    {% endif %}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,700&display=swap"
        rel="stylesheet"
        type="text/css"
      />
    </noscript>
    <link href="/static/css/fontawesome.css" rel="stylesheet" />
    <link href="/static/css/solid.css" rel="stylesheet" />
    <link rel="icon" href="/static/favicon.ico" sizes="any" />
    <link rel="icon" href="/static/favicon.svg" type="image/svg+xml" />
  </head>
  <body class="h-full">
    <header class="flex flex-col py-8 px-32 z-50 absolute w-full mx-auto">
      <div class="max-w-[130em] mx-auto w-full">
        <div class="flex w-full justify-between">
          <div class="flex space-x-8">
            <div class="text-zad-blue-600">
              <i class="fa-solid fa-phone text-gray-400 mr-1"></i> 0 55 51 / 96
              88 - 0
            </div>
            <div class="text-zad-blue-600">
              <i class="fa-solid fa-envelope text-gray-400 mr-1"></i>
              <a class="" href="mailto:info@zad-northeim.de"
                >info@zad-northeim.de</a
              >
            </div>
          </div>
          <div class="text-zad-blue-600 space-x-4 flex">
            <a href="#">Kunden-Login</a>
            <a href="/impressum">Impressum</a>
            <a href="/datenschutz">Datenschutz</a>
            <a
              href="https://www.facebook.com/ZADGmbH/"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                class="h-6"
                src="/static/images/facebook.svg"
                alt="Facebook"
            /></a>
          </div>
        </div>
        <div class="flex mt-24 justify-between items-center">
          <div class="logo w-64">
            <a href="/">
              <img src="/static/images/zad_logo.svg" width="100%" />
            </a>
          </div>
          <div class="text-zad-blue-600 space-x-6 flex">
            <a href="/">Home</a>
            <a href="#">Unternehmen</a>
            <a href="/leistung-overview" class="leistung-trigger">Leistungen</a>
            <a href="/stellenangebote">Stellenangebote</a>
            <a href="/kontakt">Kontakt/Anfahrt</a>
            <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
          </div>
        </div>
      </div>
    </header>
    {{ content | safe }}
    <script>
      const open = localStorage.getItem("open");
      const isRoot = localStorage.getItem("isRoot");
      if (
        (open == "true" && isRoot == "false") ||
        open == undefined ||
        isRoot == undefined
      ) {
        document.querySelector(".content").classList.add("open");
      }
    </script>
  </body>
  <script src="/static/app.min.js" defer></script>
</html>
