---
layout: base.njk
title: Eleventy Web Starter - Eleventy, esbuild, Tailwind and PostCSS
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main id="main" class="">
  <div>
    <img
      src="/static/images/gras3tiny.png"
      alt="Gras"
      class="gras hidden md:block absolute bottom-0 left-0 w-2/4 z-20 h-3/6 object-cover transition-all duration-300"
    />
    <img
      src="/static/images/hand.png"
      alt="Gras"
      class="hand hidden md:block absolute bottom-0 left-1/4 z-10 w-2/4 h-2/6 object-contain transition-all duration-300 opacity-0"
    />
    <img
      src="/static/images/gras3tiny.png"
      alt="Gras"
      class="hidden md:block absolute bottom-0 right-0 w-2/4 h-3/6 object-cover"
    />
  </div>
</main>
