---
layout: base.njk
title: ZAD Online | Service der Zentraler Abrechnungsdienst GmbH
description: ZAD Online | Service der Zentraler Abrechnungsdienst GmbH
---

<main
  id="main"
  class="mx-auto max-w-[130em] p-32 bg-zad-blue-200 mt-16 flex space-x-32"
>
  <div class="space-y-8 flex flex-col">
    <div class="leistungen-vertical">
      <div class="leistungen-icon-vertical">
        <i class="fa-solid fa-truck-medical text-2xl"></i>
      </div>
      <span class="font-bold text-center">Krankentransporte</span>
    </div>
    <div class="leistungen-vertical">
      <div class="leistungen-icon-vertical">
        <i class="fa-solid fa-hand-paper text-2xl"></i>
      </div>
      <span class="font-bold text-center">Pflegedienste</span>
    </div>
    <div class="leistungen-vertical">
      <div class="leistungen-icon-vertical">
        <i class="fas fa-heartbeat text-2xl"></i>
      </div>
      <span class="font-bold text-center">Heilberufe</span>
    </div>
    <div class="leistungen-vertical">
      <div class="leistungen-icon-vertical">
        <i class="fas fa-laptop-medical text-2xl"></i>
      </div>
      <span class="font-bold text-center">Softwarelösungen</span>
    </div>
  </div>
  <div>
    <h3>Abrechnungen für Heilberufe</h3>
    <h1>Abrechnungen für Heilberufe</h1>
    <p>
      ZAD ist führender Spezialist für die Leistungsabrechnung einer Vielzahl
      von Berufsgruppen im Gesundheitswesen. Deshalb erstreckt sich unser
      Service – neben den so genannten Sonstigen Leistungserbringern – auch auf
      einen Großteil der Heilberufe. So profitieren neben Rettungs- und
      ambulanten Krankenpflegediensten auch Ärzte, Zahnärzte oder Therapeuten
      durch die Entlastung von Verwaltungsaufgaben und garantierte Liquidität.
    </p>
    <p>
      Zusätzlich zur Abrechnung der Regelversorgung gegenüber den gesetzlichen
      Krankenkassen können wir Ihnen z.B. mit der Abrechnung von
      GKV-Zusatzverträgen sowie der Honorarabrechnung gegenüber Privatpatienten
      die Arbeit erleichtern. Durch die Übernahme Ihrer Forderungen genießen Sie
      höchstmögliche Sicherheit vor Zahlungsausfällen und können
      Auszahlungstermine flexibel nach Ihrem Bedarf bestimmen.
    </p>
    <p>
      Gerne entwerfen wir ein individuell auf Ihre Bedürfnisse abgestimmtes
      Servicekonzept, das auch den Vorstellungen Ihrer Patienten gerecht wird.
    </p>
  </div>
  <div class="flex flex-col space-y-8">
    <img
      class="max-w-xs rounded-sm"
      src="https://picsum.photos/600/400.webp?random=1"
    />
    <img
      class="max-w-xs rounded-sm"
      src="https://picsum.photos/600/400.webp?random=2"
    />
    <img
      class="max-w-xs rounded-sm"
      src="https://picsum.photos/600/400.webp?random=3"
    />
  </div>
</main>
