---
layout: base.njk
title: Eleventy Web Starter - Eleventy, esbuild, Tailwind and PostCSS
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main id="main" class="mx-auto max-w-[130em] p-40">
    <div class="space-x-24 flex mx-auto justify-center text-center">
        <a href="/leistung-heilberufe" class="leistungen-horizontal">
            <div class="leistungen-icon-horizontal"><i class="fa-solid fa-truck-medical text-6xl "></i></div>
            <span class="font-bold">Krankentransporte</span>
        </a>
        <a href="/leistung-heilberufe" class="leistungen-horizontal">
            <div class="leistungen-icon-horizontal"><i class="fa-solid fa-hand-paper text-6xl "></i></div>
            <span class="font-bold">Pflegedienste</span>
        </a>
        <a href="/leistung-heilberufe" class="leistungen-horizontal">
            <div class="leistungen-icon-horizontal"><i class="fas fa-heartbeat text-6xl "></i></div>
            <span class="font-bold">Heilberufe</span>
        </a>
        <a href="/leistung-heilberufe" class="leistungen-horizontal">
            <div class="leistungen-icon-horizontal"><i class="fas fa-laptop-medical text-6xl "></i></div>
            <span class="font-bold">Softwarelösungen</span>
        </a>
    </div>
</main>