---
layout: base.njk
title: Eleventy Web Starter - Eleventy, esbuild, Tailwind and PostCSS
description: Eleventy Web Starter is a lightweight Eleventy boilerplate utilising esbuild, Tailwind CSS and Post CSS
---

<main
  id="main"
  class="mx-auto content transition-all duration-200 relative pt-[150px]"
>
  <div class="flex flex-col ">
    <div
      class="bg-[url('/static/images/berg2.svg')] bg-no-repeat bg-bottom bg-contain h-[500px]"
    ></div>
    <div class="w-full bg-zad-blue-100 h-[100%] flex">
      <div class="space-x-24 flex mx-auto p-32 px-36 max-w-[130em]">
        <div class="basis-2/3">
          <h3>Aus dem Stellendschungel zu neuen Perspektiven mit Weitblick.</h3>
          <h2>Werden Sie Teil der ZAD-Familie</h2>
          <p>
            Immer mehr Kunden aus dem Gesundheitswesen entscheiden sich für den
            ZAD als Abrechnungsdienstleister – und lassen unser Unternehmen
            beständig wach- sen. Deshalb haben auch Sie jetzt die Chance, sich
            für den ZAD zu entscheiden.
          </p>
          <p>
            Wir wissen, dass unser Erfolg auf den Ideen und Fähigkeiten unserer
            Mitarbeiter gründet. Der ZAD unterstützt daher jeden, der unser Team
            mit Engagement, Innovationsfreude und Kundenorientierung bereichert
            – ganz gleich, ob Sie erst am Anfang Ihrer Karriere stehen und einen
            Ausbildungsplatz suchen oder bereits jede Menge Erfahrung
            mitbringen.
          </p>
          <p>
            Als mittelständischer Finanzdienstleister im Gesundheitswesen ist
            unser Kern- geschäft die bundesweite, professionelle Abrechnung für
            Krankentransport- und Rettungsdienstunternehmen sowie ambulanter
            Pflegedienste. Am Firmenstand- ort in Northeim betreiben wir für
            unsere mehr als 140 Mitarbeiter ein eigenes Rechenzentrum, für
            welches wir Verstärkung suchen.
          </p>
          <h2>Das erwartet Sie beim ZAD</h2>
          <ul class="text-zad-blue-600 list-disc list-outside mb-8">
            <li>Moderner Arbeitsplatz</li>
            <li>
              Selbstverantwortliches Arbeiten mit abwechslungsreichen Aufgaben
              im Team
            </li>
            <li>Flexible Arbeitszeitmodelle</li>
            <li>Familienfreundliches Arbeitsumfeld</li>
            <li>JobRad Leasing</li>
            <li>Vermögenswirksame Leistungen</li>
            <li>
              Kostenlose Bereitstellung von Kaffee, Tee, Wasser, Obst, Joghurt,
              Müsli
            </li>
          </ul>
          <h2>Aktuelle Stellen finden Sie rechts in der Menüspalte.</h2>
          <p class="font-bold">
            Sie haben kein passendes Stellenangebot gefunden oder sind
            Quereinsteiger und wollen neue Perspektiven im Büro einschlagen?
            Dann überzeugen Sie uns mit Ihrer Initiativbewerbung.
          </p>
          <div
            class="flex flex-col bg-zad-blue-100 p-8 rounded text-zad-blue-600"
          >
            <h3 class="mb-2">Kontakt</h3>
            <span class="font-bold mb-2"
              >Bewerbungsmanagement - Julia Wiesner</span
            >
            <div>
              <i class="mr-2 fa-solid fa-phone"></i> 0 55 51 / 96 88 - 0
            </div>
            <div>
              <i class="mr-2 fa-solid fa-envelope"></i>
              <a href="mailto:bewerbung@zad-northeim.de"
                >bewerbung@zad-northeim.de</a
              >
            </div>
            <hr class="my-6" />
            <span class="font-bold mb-2"
              >Ausbildungsmanagement – Marvin Darius Curdt</span
            >
            <div>
              <i class="mr-2 fa-solid fa-phone"></i> 0 55 51 96 88 - 621
            </div>
            <div>
              <i class="mr-2 fa-solid fa-envelope"></i>
              <a href="mailto:ausbildung@zad-northeim.de"
                >ausbildung@zad-northeim.de</a
              >
            </div>
          </div>
        </div>
        <div class="flex flex-col space-y-6">
          <h3>Aktuelle Stellen</h3>
          <h2 class="text-lg">Büro</h2>
          <a target="_blank" rel="noopener noreferrer" class="button" href="#"
            >Kaufmännischer Mitarbeiter (m/w/d)
          </a>
          <h2 class="text-lg">Informationstechnik</h2>
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="button"
            href="/static/pdf/Ausschreibung-IT-Neu.pdf"
            >IT-Systemadministrator (m/w/d)</a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="button"
            href="/static/pdf/2020-Ausschreibung-PERL.pdf"
            >PERL-Entwickler (m/w/d)</a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="button"
            href="/static/pdf/2019-Ausschreibung-Java-V2.pdf"
            >(Senior) Java-Entwickler (m/w/d)</a
          >
          <h2 class="text-lg">Ausbildung</h2>
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="button"
            href="/static/pdf/AZUBI-Anzeige-ZAD-2021.pdf"
            >Kaufleute für Büromanagement (m/w/d)</a
          >
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="button"
            href="/static/pdf/AZUBI-Anzeige-ZAD-2021.pdf"
            >Fachinformatik (m/w/d)</a
          >
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class=" ">
    <img
      src="/static/images/gras3tiny.png"
      alt="Gras"
      class="gras-left hidden md:block absolute bottom-0 left-0 w-2/4 h-[80%] object-cover transition-all duration-500 -translate-x-12"
    />
    <img
      src="/static/images/hand.png"
      alt="Gras"
      class="hand hidden md:block absolute bottom-0 left-1/4 w-2/4 h-2/6 object-contain transition-all duration-500 opacity-100 translate-x-16"
    />
    <img
      src="/static/images/gras3tiny.png"
      alt="Gras"
      class="gras-right hidden md:block absolute bottom-0 right-0 w-2/4 h-[80%] object-cover transition-all duration-500"
    />
  </div>
</main>
